#page-home {
    height: 100vh;
    background: url(../assets/home-background.svg) repeat;
    background-position: 20vw bottom;
}

#page-home .content {
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#page-home header {
    margin-top: 48px;
    align-items: center;
    justify-content: space-between;
}

#page-home header img {
    width: 258px;
    height: 76px;
}

#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
    font-size: 25px;
    color:chocolate; 
}

#page-home header a span {
    margin-right: 26px;
    background-image: url(../assets/reserva.svg);
    width: 20px;
    height: 20px;
}

#page-home main {
    max-width: 1100px;
   
    flex: 1;
    
    flex-direction: column;
    justify-content: center;
}

#page-home main h1 {
    font-size: 34px;
    margin-top: 70px;
}

#page-home main p {
    font-size:  24px;
    line-height: 32px;
    margin-top: 24px;
 
}

#page-home main a {
    width: 100%;
    max-width: 360px; 
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: var(--primary-color);
    transition: 400ms;
    color: white;
}

#page-home main a:hover {
background-color: #b8612f;
}

#page-home main a strong {
    flex: 1;
    text-align: center;
}

#page-home main {
    align-items: center;
}