#page-search {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-search header {
    margin-top: 48px;
    
    justify-content: space-between;
    align-items: center;
}

#page-search header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    color:chocolate;
    font-size: 25px;

}

#page-search header a span{
    margin-right: 16px;
    background-image: url(../assets/arrow-left.svg);
    display: flex;
    width: 20px;
    height: 24px;
}

main {
    margin: 48px;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, scans-serif;
    margin-bottom: 32px;
}

main .card {
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
} 

main .card h1 {
    margin-top: 32px;
    font-size: 36px;
    line-height: 41px;
    color: #000000;
}

main .card h3 {
    margin: 15px 0;
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: var(--primary-color);
}

main .card p {
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

